#Visual Studio Code
.vscode/

#Recursos del programa
resources/

#Excluir archivos innecesarios en build final del programa
build/CMakeFiles/
build/0.svg
build/cmake_install.cmake
build/CMakeCache.txt
build/Makefile
build/SnakeAndLadders.exe

#Incluir archivo dll para libreria SDL
!build/SDL2.dll
!build/ladders/
!build/numbers/
!build/players/
!build/snakes/
